.icon-weather-clear-night { background-image: url(png/weather-clear-night.png); background-repeat: no-repeat; }

.icon-weather-clear { background-image: url(png/weather-clear.png); background-repeat: no-repeat; }

.icon-weather-few-clouds-night { background-image: url(png/weather-few-clouds-night.png); background-repeat: no-repeat; }

.icon-weather-few-clouds { background-image: url(png/weather-few-clouds.png); background-repeat: no-repeat; }

.icon-weather-overcast { background-image: url(png/weather-overcast.png); background-repeat: no-repeat; }

.icon-weather-severe-alert { background-image: url(png/weather-severe-alert.png); background-repeat: no-repeat; }

.icon-weather-showers-scattered { background-image: url(png/weather-showers-scattered.png); background-repeat: no-repeat; }

.icon-weather-showers { background-image: url(png/weather-showers.png); background-repeat: no-repeat; }

.icon-weather-snow { background-image: url(png/weather-snow.png); background-repeat: no-repeat; }

.icon-weather-storm { background-image: url(png/weather-storm.png); background-repeat: no-repeat; }