// Icons from directory "weather"
%icon {
	background-repeat: no-repeat
}
.icon-weather-clear-night {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 0;
}
.icon-weather-clear-night-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-clear {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -88px;
}
.icon-weather-clear-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-few-clouds-night {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -176px;
}
.icon-weather-few-clouds-night-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-few-clouds {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -264px;
}
.icon-weather-few-clouds-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-overcast {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -352px;
}
.icon-weather-overcast-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-severe-alert {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -440px;
}
.icon-weather-severe-alert-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-showers-scattered {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -528px;
}
.icon-weather-showers-scattered-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-showers {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -616px;
}
.icon-weather-showers-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-snow {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -704px;
}
.icon-weather-snow-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-storm {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -792px;
}
.icon-weather-storm-dims {
	width: 88px;
	height: 88px;
}
.icon-weather-storm:hover,
.icon-weather-storm\:hover {
	@extend %icon;
	background-image: url('weather/weather.png');
	background-position: 0 -880px;
}
.icon-weather-storm-dims:hover,
.icon-weather-storm\:hover-dims {
	width: 84px;
	height: 89px;
}