// Icons from directory "weather"
%icon {
	background-repeat: no-repeat
}
.icon-weather-clear-night,
.icon-weather-clear-night\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 0;
}
.icon-weather-clear-night-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-clear,
.icon-weather-clear\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -48px;
}
.icon-weather-clear-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-few-clouds-night,
.icon-weather-few-clouds-night\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -96px;
}
.icon-weather-few-clouds-night-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-few-clouds,
.icon-weather-few-clouds\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -144px;
}
.icon-weather-few-clouds-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-overcast,
.icon-weather-overcast\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -192px;
}
.icon-weather-overcast-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-severe-alert,
.icon-weather-severe-alert\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -240px;
}
.icon-weather-severe-alert-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-showers-scattered,
.icon-weather-showers-scattered\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -288px;
}
.icon-weather-showers-scattered-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-showers,
.icon-weather-showers\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -336px;
}
.icon-weather-showers-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-snow,
.icon-weather-snow\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -384px;
}
.icon-weather-snow-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-storm,
.icon-weather-storm\:regular {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -432px;
}
.icon-weather-storm-dims {
	width: 48px;
	height: 48px;
}
.icon-weather-storm:hover,
.icon-weather-storm\:hover {
	@extend %icon;
	background-image: url('weather/weather.svg');
	background-position: 0 -480px;
}
.icon-weather-storm-dims:hover,
.icon-weather-storm\:hover-dims {
	width: 44px;
	height: 49px;
}