/* Icons from directory "weather" */
.icon-weather-clear-night{background-image:url('weather/weather.png');background-position:0 0;background-repeat:no-repeat}
.icon-weather-clear-night-dims{width:88px;height:88px}
.icon-weather-clear{background-image:url('weather/weather.png');background-position:0 -88px;background-repeat:no-repeat}
.icon-weather-clear-dims{width:88px;height:88px}
.icon-weather-few-clouds-night{background-image:url('weather/weather.png');background-position:0 -176px;background-repeat:no-repeat}
.icon-weather-few-clouds-night-dims{width:88px;height:88px}
.icon-weather-few-clouds{background-image:url('weather/weather.png');background-position:0 -264px;background-repeat:no-repeat}
.icon-weather-few-clouds-dims{width:88px;height:88px}
.icon-weather-overcast{background-image:url('weather/weather.png');background-position:0 -352px;background-repeat:no-repeat}
.icon-weather-overcast-dims{width:88px;height:88px}
.icon-weather-severe-alert{background-image:url('weather/weather.png');background-position:0 -440px;background-repeat:no-repeat}
.icon-weather-severe-alert-dims{width:88px;height:88px}
.icon-weather-showers-scattered{background-image:url('weather/weather.png');background-position:0 -528px;background-repeat:no-repeat}
.icon-weather-showers-scattered-dims{width:88px;height:88px}
.icon-weather-showers{background-image:url('weather/weather.png');background-position:0 -616px;background-repeat:no-repeat}
.icon-weather-showers-dims{width:88px;height:88px}
.icon-weather-snow{background-image:url('weather/weather.png');background-position:0 -704px;background-repeat:no-repeat}
.icon-weather-snow-dims{width:88px;height:88px}
.icon-weather-storm{background-image:url('weather/weather.png');background-position:0 -792px;background-repeat:no-repeat}
.icon-weather-storm-dims{width:88px;height:88px}
.icon-weather-storm:hover,.icon-weather-storm\:hover{background-image:url('weather/weather.png');background-position:0 -880px;background-repeat:no-repeat}
.icon-weather-storm-dims:hover,.icon-weather-storm\:hover-dims{width:84px;height:89px}