/* Icons from directory "weather" */
.icon-weather-clear-night,.icon-weather-clear-night\:regular{background-image:url('weather/weather.png');background-position:0 0;background-repeat:no-repeat}
.icon-weather-clear-night-dims{width:48px;height:48px}
.icon-weather-clear,.icon-weather-clear\:regular{background-image:url('weather/weather.png');background-position:0 -48px;background-repeat:no-repeat}
.icon-weather-clear-dims{width:48px;height:48px}
.icon-weather-few-clouds-night,.icon-weather-few-clouds-night\:regular{background-image:url('weather/weather.png');background-position:0 -96px;background-repeat:no-repeat}
.icon-weather-few-clouds-night-dims{width:48px;height:48px}
.icon-weather-few-clouds,.icon-weather-few-clouds\:regular{background-image:url('weather/weather.png');background-position:0 -144px;background-repeat:no-repeat}
.icon-weather-few-clouds-dims{width:48px;height:48px}
.icon-weather-overcast,.icon-weather-overcast\:regular{background-image:url('weather/weather.png');background-position:0 -192px;background-repeat:no-repeat}
.icon-weather-overcast-dims{width:48px;height:48px}
.icon-weather-severe-alert,.icon-weather-severe-alert\:regular{background-image:url('weather/weather.png');background-position:0 -240px;background-repeat:no-repeat}
.icon-weather-severe-alert-dims{width:48px;height:48px}
.icon-weather-showers-scattered,.icon-weather-showers-scattered\:regular{background-image:url('weather/weather.png');background-position:0 -288px;background-repeat:no-repeat}
.icon-weather-showers-scattered-dims{width:48px;height:48px}
.icon-weather-showers,.icon-weather-showers\:regular{background-image:url('weather/weather.png');background-position:0 -336px;background-repeat:no-repeat}
.icon-weather-showers-dims{width:48px;height:48px}
.icon-weather-snow,.icon-weather-snow\:regular{background-image:url('weather/weather.png');background-position:0 -384px;background-repeat:no-repeat}
.icon-weather-snow-dims{width:48px;height:48px}
.icon-weather-storm,.icon-weather-storm\:regular{background-image:url('weather/weather.png');background-position:0 -432px;background-repeat:no-repeat}
.icon-weather-storm-dims{width:48px;height:48px}
.icon-weather-storm:hover,.icon-weather-storm\:hover{background-image:url('weather/weather.png');background-position:0 -480px;background-repeat:no-repeat}
.icon-weather-storm-dims:hover,.icon-weather-storm\:hover-dims{width:44px;height:49px}